.menu-icon{'ng-class': '{arrow: hasBackAction()}', 'ng-click': 'performAction()'}
  %img.menu-icon1{ src: 'img/menu_line.svg' }
  %img.menu-icon2{ src: 'img/menu_line.svg' }
  %img.menu-icon3{ src: 'img/menu_line.svg' }