.navigation{ng: {controller: 'navigationController as vm', show: 'vm.navigationAvailable'}}
  %nav.top-bar{data: {topbar: ''}}
    %a.back-action{href: 'javascript:void(0)', ng: {click: 'vm.backClicked()'}}
      = partial 'partials/icon'
      .title {{ vm.labelForTitle }}
    .title {{ vm.labelForTitle }}