.navigation{ng: {controller: 'navigationController as vm', show: 'vm.navigationAvailable'}}
  %nav.top-bar{data: {topbar: ''}}
    %bvr-menu{'back-action': 'vm.backAction'}
    .title {{ vm.labelForTitle }}