.page.home-page
  %ul
    %li
      %a{href: '#/list'}
        %button {{ vm.labelForList }}

    %li
      %a{href: '#/tabs'}
        %button {{ vm.labelForTabs }} 

  %a{href: 'javascript:void(0);', ng: {click: 'vm.loadData()'}} {{ vm.labelForData }}

%side-dragger