$body_background: white;
$main_text_color: black;

$navbar_background: black;
$navbar_text: white;

$tab_header_background: black;
$tab_header_color: white;
$tab_header_active_color: yellow;

$light_grey: #f2f2f2;
$grey: #e0e0e0;
$dark_grey: #484848;