.menu-icon {
  position: relative;
  left: 0px;
  width: $menu-icon-width;
  height: $topbar-height;

  $center-bar-position: translate3d(15px,15px,0);

  .menu-icon1, .menu-icon2, .menu-icon3 {
    margin: auto;
    width: 20px;
    display: inline-block;
    position: absolute;
    transition: all 0.3s ease;
  }

  .menu-icon1 {
    transform: translate3d(15px,10px,0);
  }

  .menu-icon2 {
    transform: $center-bar-position; 
  }

  .menu-icon3 {
    transform: translate3d(15px,20px, 0);
  }

  &.arrow {
    $arrow-angle: 25deg;
    $arrow-head-size: 0.5;

    .menu-icon1 {
      transform: translate3d(9px,11px,0) scaleX($arrow-head-size) rotateZ(-$arrow-angle);
    }

    .menu-icon3 {
      transform: translate3d(9px,19px,0) scaleX($arrow-head-size) rotateZ($arrow-angle) ;
    }
  }

  &.cross {
    $cross-angle: 45deg;

    .menu-icon1 {
      transform: $center-bar-position scaleX(1.1) rotateZ(-$cross-angle);
    }

    .menu-icon2 {
      transform: $center-bar-position scaleX(0.01);
    }

    .menu-icon3 {
      transform: $center-bar-position scaleX(1.1) rotateZ($cross-angle);
    }
  }
}