$topbar-height: 50px;

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.navigation {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  height: $topbar-height;
  transition: height 0.25s ease;

  &.visible {
    height: 100%;
    overflow: hidden;
  }
}

.sidebar {
  background-color: $light_grey;
}

.snap-content {
  box-shadow: 0 0 20px #888;
  background-color: $body_background;
}

.page-container {
  position: fixed;
  top: $topbar-height;
  width: 100%;
  height: 100%;
}

.page {
  height: 100%;
  padding-bottom: $topbar-height;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.splash {
  position: absolute;
  z-index: 101;
  top: -$topbar-height;
  height: 100%;
  width: 100%;
}