.navigation {
  background-color: $navbar-background;

  a {
    color: white;
    text-decoration: none;
  }

  .fa {
    font-size: 25px;
    margin-top: 10px;
  }

  .title {
    @include center-in-parent(0%, 50%);

    text-transform: uppercase;
    color: white;
    font-size: 1.25em;
    line-height: $topbar-height;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.android {
  .navigation {
    .title {
      text-align: left;
      left: $menu-icon-width;
      transform: none;
    }
  }
}