.tab-headers {
  position: fixed;
  width: 100%;
  z-index: 100;
  margin: 0;
  padding: 0;
  margin-top: -$page-padding;
  margin-left: -$page-padding;

  background-color: $tab-background-color;

  a {
    text-decoration: none;
    color: $tab-font-color;
  }
}

.tab-header {
  height: $tab-header-height;
  line-height: $tab-header-height; 
  display: inline-block;
  width: 33%; 
  text-align: center;
}

.tab-content {
  margin-top: $tab-header-height;
}

.android {
  .tab-header {
    height: $tab-header-height;

    &.active {
      border-bottom: 3px solid $tab-active-font-color;
    }
  }

  .tab-content {
    margin-top: $tab-header-height;
  }
}

.ios {
  .tab-headers {
    top: initial;
    bottom: $topbar-height;
  }

  .tab-header {
    &.active {
      a {
        color: $tab-active-font-color;
      }
    }
  }

  .tab-content {
    margin-top: 0;
  }

  .tab-page {
    padding-bottom: $tab-header-height;
  }
}