@import 'normalize';
@import 'snapjs/snap';
@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';
@import 'slick-carousel/slick/slick';
@import 'angular-snap/angular-snap';
@import 'mixins';
@import 'transitions';
@import 'animations';

@import 'fonts';
@import 'navigation';
@import 'layout';
@import 'tabs';
@import 'splash';

body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  background-color: $secondary-background-color;
}

.page {
  background-color: $base-background-color;
}